@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --button-color-primary:#ffffff;
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.logo-nav {
  width: 12rem;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-bar {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--white);
}

.nav-container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.nav-icons span {
  font-size: 1.25rem;
  cursor: pointer;
}

header {
  margin-top: 10rem;
  background-color: var(--primary-color);
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header-content p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.header-content .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

.header-image {
  position: relative;
}

.header-image img {
  max-width: 400px;
  position: absolute;
  bottom: -5rem;
}

.collection-container {
  position: relative;
}

.collection-container img {
  max-width: 400px;
  margin: auto;
}

.collection-content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.collection-content .section-title {
  margin-bottom: 2rem;
}

.collection-content p {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.collection-content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.collection-content .btn {
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  background-color: var(--white);
}

.collection-content .btn:hover {
  background-color: var(--text-dark);
  color: var(--white);
}

.sale-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sale-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 80%;
}

.sale-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: var(--white);
  text-align: center;
}

.sale-title {
  font-size: 2rem;
  font-weight: 600;
}

.sale-title span {
  font-size: 2.5rem;
}

.sale-subtitle {
  font-size: 1rem;
}

.sale-btn {
  margin-top: 14rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.sale-card::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.sale-card:hover::before {
  top: 0;
}

.sale-card:hover .sale-btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.musthave-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.musthave-nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.musthave-nav a:hover {
  color: var(--text-dark);
}

.musthave-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.musthave-card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
}

.musthave-card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave-card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave-card p del {
  font-weight: 400;
  color: var(--text-light);
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.brand-image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.brand-image img {
  max-width: 120px;
}

.brand-image:hover {
  opacity: 1;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-heading {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer-col p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer-col p:hover {
  color: var(--text-dark);
}

.footer-col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer-bar {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer-form .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (width < 900px) {
  header {
    margin-top: 5rem;
  }

  .sale-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .musthave-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .brands-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .instagram-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    text-align: center;
  }

  .footer-form {
    justify-content: center;
  }
}

@media (width < 600px) {
  .nav-links {
    display: none;
  }

  header {
    margin-top: 0;
  }

  .header-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-image {
    display: none;
  }

  .sale-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .musthave-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .brands-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
